version: "2"
sql:
- schema: "path_to_file_schema.sql"
  queries: "path_to_directory_or_file_queries.sql"
  engine: "postgres"
  gen:
    go: 
      package: "golang_package_name"
      out: "path_to_directory"
      emit_json_tags: true
  database:
    uri: "postgresql://USER:PASSWORD@HOST:PORT/DATABASE"

version: "2"
sql:
  - schema: "./schema.sql"
    queries: "./query"
    engine: "postgres"
    gen:
      go:
        package: "queries"
        out: "../queries"
        emit_json_tags: true
    database:
      uri: "postgresql://postgres:postgres@tc_postgres:5432/store"
